.myVideo {
    width: 100%;
}

.videoContents {
    z-index: -100;
    width:100%;
    height:75%;
    overflow: hidden;
    position: relative;
    top:0;
    left:0;
}

.logo {
    width: 35%;
}

.navigation {
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.tabs {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}

.arrow {
    padding-top: 40rem;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.name {
    bottom: 50px;
}