input:focus {
  border-bottom: 1px solid #0d47a1 !important;
  box-shadow: 0 1px 0 0 #0d47a1 !important;
}

textarea:focus {
  border-bottom: 1px solid #0d47a1 !important;
  box-shadow: 0 1px 0 0 #0d47a1 !important;
}

label.active {
  color:  #0d47a1 !important;
}